<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
    <div id='app'>
      <h2>{{message}}</h2>
      <label for="male">
        <!-- 可以去掉name,绑定model可以互斥 -->
        <input type="radio" value="男" id="male"  v-model="sex"/>男
      </label>
      <label for="female">
        <input type="radio" value="女" id="female"  v-model="sex"/>女
      </label>
      <h2> {{sex}}</h2>
    </div> 
    <script src='../vue.js'></script>
    <script>
      const app = new Vue({
        el: '#app',
        data:{
          message: '你好',
          sex: '男'
        }
      })
    </script>
	</body>
</html>
