<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
    <div id='app'>
      <h2>{{message}}</h2>
      <!-- 选择一个 -->
      <select v-model="fruit">
        <option value="苹果" >苹果</option>
        <option value="香蕉">香蕉</option>
        <option value="橘子">橘子</option>
        <option value="火龙果">火龙果</option>
        <option value="西瓜">西瓜</option>
      </select>
      <h2>您选择的水果是:{{fruit}}</h2>
      
      <!-- 选择多个 -->
      <select v-model="fruit2" multiple="multiple"> 
        <option value="苹果" >苹果</option>
        <option value="香蕉">香蕉</option>
        <option value="橘子">橘子</option>
        <option value="火龙果">火龙果</option>
        <option value="西瓜">西瓜</option>
      </select>
      <h2>您选择的水果是:{{fruit2}}</h2>
      
      
    </div> 
    <script src='../vue.js'></script>
    <script>
      const app = new Vue({
        el: '#app',
        data:{
          message: '你好',
          fruit: '香蕉',
          fruit2: [ ],
         
        }
      })
    </script>
	</body>
</html>
